#movie img {
  width: 12rem;
  height: 16rem;
}
#album img {
  width: 18rem;
  height: 18rem;
}
#movie .title,
#album .title {
  font-size: 2rem;
  margin-bottom: 1.75rem;
}
#movie .list,
#album .list {
  margin-bottom: 1rem;
}
#movie ul,
#album ul {
  list-style-type: none;
}
#movie ul li,
#album ul li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}
#movie ul .name,
#album ul .name {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
#movie ul .name:hover,
#album ul .name:hover {
  color: #1976db;
}
